/* 
Student Name: Armin Keshavarz Rahbar
This file is my external CSS file for the Student Survey Form
*/

/* Sets background color for the form*/
body {
  background-color: rgb(239, 233, 233);
  font-size: larger;
}

/*sets the color for heading 3*/
h3 {
  color: #ffcc33;
}

/*sets the color, padding, border-style,
border-width, box-shadow for for heading 1*/
h1 {
  border-style: solid;
  border-width: 0.255cap;
  padding: 5px;
  color: #006633;
  box-shadow: 5px 10px #ffcc33;
}

/*sets the width and font-size of buttons*/
button {
  width: 15scap;
  font-size: large;
}

/*sets the font-size for input*/
input {
  font-size: large;
}

/*sets the font-size for textarea*/
textarea {
  font-size: larger;
}

/*sets font size for select*/
select {
  font-size: large;
}
